@model EvidencePojisteni.Web.Class.PojisteniPojisteneOsobyViewModel

@{
    ViewData["Title"] = "Add Insurance to Person";
}
<div class="container">
    <h2>Add insurance to @Model.Person.FirstName @Model.Person.LastName</h2>
    <form method="post">
        <div class="form-group">
            <label asp-for="Policy.Type">Policy Type</label>
            <select asp-for="Policy.Type" class="form-control">
                @foreach (var type in Enum.GetValues(typeof(EvidencePojisteniDto.PolicyType)))
                {
                    <option value="@type">@type</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Policy.Name">Policy Name</label>
            <input asp-for="Policy.Name" type="text" class="form-control" placeholder="e.g. Apartment, Car, etc." />
        </div>
        <div class="form-group">
            <label asp-for="Contract.Amount">Amount</label>
            <input asp-for="Contract.Amount" type="number" class="form-control" placeholder="10000000" />
        </div>
        <div class="form-group">
            <label asp-for="Contract.ValidFrom">Valid From</label>
            <input asp-for="Contract.ValidFrom" type="date" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Contract.ValidTo">Valid To</label>
            <input asp-for="Contract.ValidTo" type="date" class="form-control" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>