@model EvidencePojisteniDto.DetailPersonDto

@{
    ViewData["Title"] = "New Person";
}

<h2>New Person</h2>
<form asp-action="Create" asp-controller="Person" method="post">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" placeholder="John" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" placeholder="Smith" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" placeholder="731 584 972" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age"></label>
        <input asp-for="Age" type="number" class="form-control" placeholder="30" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>