@*
   
*@
@{
    ViewData["Title"] = "Pojištěnci";
}
<div class="container">
    <h1>Pojištěnci</h1>
    <div class="">
        <a class="btn btn-blue" asp-action="NovyPojistenec" asp-controller="Home">Nový pojištěnec</a>
    </div>
    <table class="">
        <tr>
            <th>@Model.Jmeno</th>
        </tr>
        <tr>
            <td>
                <a asp-action="DetailPojistence" asp-route-id="">
                    Jmeno Prijmeni
                </a>
            </td>
            <td>
                <div class="">
                    <button class="btn btn-red">Odstranit</button>
                    <button class="btn btn-yellow">Editovat</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <a asp-action="DetailPojistence" asp-route-id="">
                    Jmeno Prijmeni
                </a>
            </td>
            <td>Adresa</td>
            <td>
                <div class="">
                    <button class="btn btn-red">Odstranit</button>
                    <button class="btn btn-yellow">Editovat</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <a asp-action="DetailPojistence" asp-route-id="">
                    Jmeno Prijmeni
                </a>
            </td>
            <td>
                <div class="">
                    <button class="btn btn-red">Odstranit</button>
                    <button class="btn btn-yellow">Editovat</button>
                </div>
            </td>
        </tr>
    </table>
    <div class="pagination">
        <button class="pagination-btn" disabled>Předchozí</button>
        <button class="pagination-btn">1</button>
        <button class="pagination-btn active">2</button>
        <button class="pagination-btn">3</button>
        <button class="pagination-btn">Další</button>
    </div>
</div>
